@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "flexi";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: hsl(44 100% 98%);
  --color-base-200: hsl(0 0% 97%);
  --color-base-300: hsl(0 0% 90%);
  --color-base-content: hsl(0 0% 11%);
  --color-primary: hsl(50 100% 64%);
  --color-primary-content: hsl(0 0% 11%);
  --color-secondary: hsl(350 100% 86%);
  --color-secondary-content: hsl(349 75% 61%);
  --color-accent: hsl(202 100% 84%);
  --color-accent-content: hsl(202 82% 62%);
  --color-neutral: hsl(0 0% 11%);
  --color-neutral-content: hsl(0 0% 100%);
  --color-info: hsl(203 61% 52%);
  --color-info-content: hsl(0 0% 100%);
  --color-success: hsl(149 49% 48%);
  --color-success-content: hsl(0 0% 100%);
  --color-warning: hsl(36 100% 54%);
  --color-warning-content: hsl(36 84% 30%);
  --color-error: hsl(349 75% 61%);
  --color-error-content: hsl(0 0% 100%);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
